---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: frigate
  namespace: frigate
spec:
  interval: 15m
  chart:
    spec:
      chart: frigate
      version: 18.15.18
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    global:
      stopAll: false
    securityContext:
      container:
        privileged: true
    ingress:
      main:
        enabled: true
        ingressClassName: internal
        hosts:
          - host: "frigate.${DOMAIN_0}"
            paths:
            - path: "/"
              pathType: "Prefix" 
        integrations:
          traefik:
            enabled: false
          certManager:
            enabled: true
            certificateIssuer: domain-0-le-prod
    workload:
      main:
        podSpec:
          containers:
            main:
              resources:
                limits:
                  nvidia.com/gpu: 1
          runtimeClassName: "nvidia"
    persistence:
      media:
        enabled: true
        type: nfs
        path: ${FRIGATE_NFS_PATH}
        server: ${PROXMOX_IP}
